openapi: 3.0.0
info:
  title: Browserbase API
  version: 1.0.0
  description: API for Browserbase, a platform for managing headless browsers at scale.

servers:
  - url: https://www.browserbase.com/v1
  - url: wss://connect.browserbase.com

paths:
  /sessions:
    get:
      summary: List Sessions
      operationId: listSessions
      tags:
        - Sessions
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [RUNNING, ERROR, TIMED_OUT, COMPLETED]
      responses:
        '200':
          description: Successful response
          content:
            application/json:    
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
    post:
      summary: Create a Session
      operationId: createSession
      tags:
        - Sessions
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /sessions/{id}:
    get:
      summary: Get Session
      operationId: getSession
      tags:
        - Sessions
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    post:
      summary: Update Session
      operationId: updateSession
      tags:
        - Sessions
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /sessions/{id}/logs:
    get:
      summary: Get Session Logs
      operationId: getSessionLogs
      tags:
        - Sessions
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionLog'

  /extensions:
    post:
      summary: Upload an Extension
      operationId: uploadExtension
      tags:
        - Extensions
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-BB-API-Key

  schemas:
    CreateSessionRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        extensionId:
          type: string
        browserSettings:
          type: object
        context:
          $ref: '#/components/schemas/Context'
        timeout:
          type: integer
        keepAlive:
          type: boolean
        proxies:
          oneOf:
            - type: boolean
            - type: array
              items:
                type: object
        region:
          type: string
          enum: [us-west-2, us-east-1, eu-central-1, ap-southeast-1]

    UpdateSessionRequest:
      type: object
      required:
        - projectId
        - status
      properties:
        projectId:
          type: string
        status:
          type: string
          enum: [REQUEST_RELEASE]

    Session:
      type: object
      properties:
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        projectId:
          type: string
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [RUNNING, ERROR, TIMED_OUT, COMPLETED]
        proxyBytes:
          type: integer
        avgCpuUsage:
          type: integer
        memoryUsage:
          type: integer
        keepAlive:
          type: boolean
        contextId:
          type: string
        region:
          type: string
          enum: [us-west-2, us-east-1, eu-central-1, ap-southeast-1]
        connectUrl:
          type: string
        seleniumRemoteUrl:
          type: string
        signingKey:
          type: string

    Context:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        persist:
          type: boolean
        extensionId:
          type: string
        fingerprint:
          type: object
        httpVersion:
          type: number
        browsers:
          type: array
          items:
            type: string
        devices:
          type: array
          items:
            type: string
        locales:
          type: array
          items:
            type: string
        operatingSystems:
          type: array
          items:
            type: string
        screen:
          type: object
          properties:
            maxHeight:
              type: integer
            maxWidth:
              type: integer
            minHeight:
              type: integer
            minWidth:
              type: integer
        viewport:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        blockAds:
          type: boolean
        solveCaptchas:
          type: boolean
        recordSession:
          type: boolean
        logSession:
          type: boolean

    SessionLog:
      type: object
      properties:
        eventId:
          type: string
        method:
          type: string
        pageId:
          type: integer
        request:
          type: object
          properties:
            timestamp:
              type: integer
            params:
              type: object
            rawBody:
              type: string
        response:
          type: object
          properties:
            timestamp:
              type: integer
            result:
              type: object
            rawBody:
              type: string
        sessionId:
          type: string
        timestamp:
          type: integer
        frameId:
          type: string
        loaderId:
          type: string

    Extension:
      type: object
      properties:
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        fileName:
          type: string
        projectId:
          type: string